.toggleButtonWrapper {
    display: flex;
    justify-content: end;
}
.buttonBar {
    display: flex;
    justify-content: space-between;

    .navButton {
        margin-left: 10px;
    }
} 