@import "../style/mixin.scss";

.toggleButtonWrapper {
    display: flex;
    justify-content: end;
}
.buttonBar {
    display: flex;
    justify-content: space-between;

    .navButton {
        @include md {
            margin-left: 10px;
        }
    }
} 