.wrapper {
    display: block;
    position: absolute;
    background-color: rgba($color: #FFFFFF, $alpha: 1);
    padding: 10px 5px;
    
    &.next {
        right: 0px;
    }
    img {
        height: 35px;
    }
}