.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .inputBox {
        display: flex;
        align-items: center;
        gap: 8px;
        input {
            width : 75px;
            height: 40px;
            text-align: center;
        }
    }
}